/* Ini Css */

nav {
    display: flex;
    justify-content: space-between;
}

nav>section {
    display: flex;
}

.logo-icon {
    height: 90px;
    width: 90px;
    border-radius: 60%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL5urIuFf-XBhH98KhwAsF10p8iymLTXsD6A&s)
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
}


.banner-container {
    height: 258px;
    border: 1px solid black;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.contact-us-section {
    display: flexbox;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style utk tombol submit */
input[type=submit] {
    width: 40%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Style jika tombol submit ditekan*/
input[type=submit]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}